#club-information-container {
	margin-right: 20px;
}

#club-favorite-button {
	width: 35px;
	transform: skewX(20deg);
	margin-right: 25px;
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
	filter: outline(2px solid red);
}

#club-favorite-button:hover {
	cursor: pointer;
}

#competition-logo {
	width: 60px;
	margin-right: 10px;
}
