  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="" />
  <!-- Set the Content-Security-Policy header to allow inline scripts -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://code.jquery.com https://cdn.jsdelivr.net https://stackpath.bootstrapcdn.com;">

  <title>Group 6 Final Project</title>

  <!--------------- CSS Stylesheets ---------------->

  <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Linking Forms Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/login-and-registration/login_and_registration.css">

  <!-- Navigation Bar Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/css/navigation-bar/navigation-bar.css">
  <link rel="stylesheet" type="text/css" href="/css/login-and-registration/login.css">
  <link rel="stylesheet" type="text/css" href="/css/login-and-registration/registration.css">
  <link rel="stylesheet" type="text/css" href="/css/login-and-registration/account.css">

    <!-- Scoreboard Header Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/navigation-bar/scoreboard-header/scoreboard.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation-bar/scoreboard-header/game-card.css">

  <!-- Home Page Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/css/homepage/homepage.css">

  <!-- All Generated Pages CSS -->
  <link rel="stylesheet" type="text/css" href="/css/generated-pages/generated-pages-styling.css">

    <!-- League Page Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/generated-pages/league-pages/league-page.css">
    <link rel="stylesheet" type="text/css" href="/css/generated-pages/league-pages/league-table.css">
    <link rel="stylesheet" type="text/css" href="/css/generated-pages/league-pages/league-top-scorers.css">

    <!-- Club Page Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/generated-pages/club-pages/club-page-layouts.css">
    <link rel="stylesheet" type="text/css" href="/css/generated-pages/club-pages/club-page-styling.css">

  <!-- Browser Indentifiers --> 

    <!-- Website Favicon -->
    <link rel="shortcut icon" href="resources/img/safari/favicon.ico" type="image/x-icon">

    <!-- Touch icons for iOS and Mac devices -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/touch-icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/touch-icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/touch-icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/touch-icons/apple-touch-icon-180x180.png">
