<div class="col-md-4 mb-4">
    <div class="card">
        <img src="{{imageURL}}" class="card-img-top" alt="Event Image">
        <div class="card-body">
            <h5 class="card-title">{{eventName}}</h5>
            <p class="card-text">Date and Time: {{eventDateTime}}</p>
            <a href="#" class="btn btn-primary">Book Now</a>
        </div>
    </div>
</div>
