<body>
  <div class="container mt-5">
    <h1 class="mb-4">Welcome</h1>
    <div class="card-container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">

            <!-- 🇬🇧 Premier League -->
            {{> league_table eventName="Event Name" eventDateTime="Date and Time"}}

            <!-- 🇪🇸 La Liga -->
            {{> league_table eventName="Event Name" eventDateTime="Date and Time"}}

            <!-- 🇩🇪 Bundesliga -->
            {{> league_table eventName="Event Name" eventDateTime="Date and Time"}}

            <!-- 🇮🇹 Serie A -->
            {{> league_table eventName="Event Name" eventDateTime="Date and Time"}}

            <!-- 🇫🇷 Ligue 1 -->
            {{> league_table eventName="Event Name" eventDateTime="Date and Time"}}

            <!-- 🇧🇷 Brasilerao -->
            {{> league_table eventName="Event Name" eventDateTime="Date and Time"}}
            
        </div>
    </div>
  </div>
</body>

